*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-family: "Titillium Web", sans-serif;
    color: white;
    overflow-x: hidden;
}
html,body{
    height: 100vh;
    width: 100vw;
}
#main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090909; 
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 98vw;
    overflow:hidden;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;  
}
#nav-stuff{
    overflow:hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}
#nav h3{
    overflow:hidden;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400 ;
}
#main-text{
    position: relative;
    top:30%;
    display: flex;
    z-index: 10;
    width: 70vw;
    flex-direction: column;
    transform: translate(0,-30%);
}
#main-text p{
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 10vw;
    position: relative;
    z-index: 20;
    overflow: hidden;
    margin-left: 10%;
    font-weight: 10;
}
#topi{
    position: relative;
    font-size: 20px;
    margin-top: 10px;
   text-transform: uppercase;
}
span{
    position: relative;
    left: -1000px;
}

#img1{
    overflow:hidden;
    rotate: 10deg;
}
#img2{
    overflow:hidden;
    rotate: 15deg;
}
img{
    overflow:hidden;
    position: absolute;
    height: 40vw;
    z-index: 0;
    top: 50%;
    transform: translate(0,-50%);
    filter: drop-shadow(10);
}
@media screen and (max-width:475px){
#nav{
    flex-direction: column;
}
#main  p:nth-child(2){
    margin-top: 180px;
}
    }
 
